In [120]:
import pandas as pd
import numpy as np

In [121]:
xtrain = pd.read_csv("https://raw.githubusercontent.com/JosueAfouda/MLflow/main/X_train_J01Z4CN.csv")
xtrain.shape

(37368, 27)

In [122]:
ytrain = pd.read_csv("https://raw.githubusercontent.com/JosueAfouda/MLflow/main/y_train_OXxrJt1.csv")
ytrain.shape

(37368, 2)

In [123]:
xtrain.head()

,id_annonce,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,...,nb_parking_places,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors
0,35996577,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,...,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35886765,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,...,0.0,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,35781137,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,...,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
ytrain.head()

   id_annonce     price
0    35996577  355000.0
1    35811033  190000.0
2    35731841   39000.0
3    35886765  299000.0
4    35781137  478000.0

ANALYSE EXPLORATOIRE

In [125]:
#!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [126]:
df = xtrain.merge(ytrain, on = "id_annonce", how = "inner")

In [127]:
df.head()

,id_annonce,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,...,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
0,35996577,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,...,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,355000.0
1,35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
2,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39000.0
3,35886765,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,...,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,299000.0
4,35781137,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,...,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,478000.0

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37368 entries, 0 to 37367
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id_annonce                   37368 non-null  int64
 1   property_type                37368 non-null  object
 2   approximate_latitude         37368 non-null  float64
 3   approximate_longitude        37368 non-null  float64
 4   city                         37368 non-null  object
 5   postal_code                  37368 non-null  int64
 6   size                         36856 non-null  float64
 7   floor                        9743 non-null   float64
 8   land_size                    15581 non-null  float64
 9   energy_performance_value     19068 non-null  float64
 10  energy_performance_category  19068 non-null  object
 11  ghg_value                    18530 non-null  float64
 12  ghg_category                 18530 non-null  object
 13  exposition                   9094 non-null   object
 14  nb_rooms                     35802 non-null  float64
 15  nb_bedrooms                  34635 non-null  float64
 16  nb_bathrooms                 24095 non-null  float64
 17  nb_parking_places            37368 non-null  float64
 18  nb_boxes                     37368 non-null  float64
 19  nb_photos                    37368 non-null  float64
 20  has_a_balcony                37368 non-null  float64
 21  nb_terraces                  37368 non-null  float64
 22  has_a_cellar                 37368 non-null  float64
 23  has_a_garage                 37368 non-null  float64
 24  has_air_conditioning         37368 non-null  float64
 25  last_floor                   37368 non-null  float64
 26  upper_floors                 37368 non-null  float64
 27  price                        37368 non-null  float64
dtypes: float64(21), int64(2), object(5)
memory usage: 8.3+ MB

In [129]:
from pandas_profiling import ProfileReport

In [130]:
profile = ProfileReport(
    df,
    title = "Analyse exploratoire des données",
    html = {'style' : {'full_width':True}}
)

#profile.to_file(output_file = "data-profile.html")

Pipeline de machine learning

In [131]:
nums_vars = xtrain.drop('id_annonce', axis = 1).select_dtypes(exclude = ["object"]).columns
nums_vars

Index(['approximate_latitude', 'approximate_longitude', 'postal_code', 'size',
       'floor', 'land_size', 'energy_performance_value', 'ghg_value',
       'nb_rooms', 'nb_bedrooms', 'nb_bathrooms', 'nb_parking_places',
       'nb_boxes', 'nb_photos', 'has_a_balcony', 'nb_terraces', 'has_a_cellar',
       'has_a_garage', 'has_air_conditioning', 'last_floor', 'upper_floors'],
      dtype='object')

In [132]:
cat_vars = xtrain.drop('id_annonce', axis = 1).drop(nums_vars, axis = 1).columns.to_list()
cat_vars

['property_type',
 'city',
 'energy_performance_category',
 'ghg_category',
 'exposition']

In [133]:
df.isnull().sum()

id_annonce                         0
property_type                      0
approximate_latitude               0
approximate_longitude              0
city                               0
postal_code                        0
size                             512
floor                          27625
land_size                      21787
energy_performance_value       18300
energy_performance_category    18300
ghg_value                      18838
ghg_category                   18838
exposition                     28274
nb_rooms                        1566
nb_bedrooms                     2733
nb_bathrooms                   13273
nb_parking_places                  0
nb_boxes                           0
nb_photos                          0
has_a_balcony                      0
nb_terraces                        0
has_a_cellar                       0
has_a_garage                       0
has_air_conditioning               0
last_floor                         0
upper_floors                       0
price                              0
dtype: int64

In [134]:
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [135]:
numeric_transformer = make_pipeline(
    (SimpleImputer(strategy='median')),
    StandardScaler()
)
numeric_transformer

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='median')),
                ('standardscaler', StandardScaler())])

In [136]:
categorical_transformer = make_pipeline(
    (SimpleImputer(strategy="constant", fill_value="Unknow")),
    (OneHotEncoder(handle_unknown="ignore"))
)
categorical_transformer

Pipeline(steps=[('simpleimputer',
                 SimpleImputer(fill_value='Unknow', strategy='constant')),
                ('onehotencoder', OneHotEncoder(handle_unknown='ignore'))])

In [137]:
from sklearn.compose import ColumnTransformer

In [138]:
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.svm import SVR

In [139]:
seed = 1234

In [140]:
def build_pipeline(algo_ml, 
                  impute_num = SimpleImputer(strategy="median"),
                  impute_vars = SimpleImputer(strategy="constant", fill_value="Unknow"),
                  scaler = StandardScaler()):
  
  # Pipeline de transformation des variables numériques

  numeric_transformer = make_pipeline(
      (impute_num),
      (scaler)
  )

  categorical_transformer = make_pipeline(
    (impute_vars),
    (OneHotEncoder(handle_unknown="ignore"))
  )

  preprocessor = ColumnTransformer(
    transformers = [
        ('num', numeric_transformer, nums_vars),
        ('cat', categorical_transformer, cat_vars)
    ]
    )
  
  model = Pipeline(steps=[('preprocessing', preprocessor),
                          ('regressor', algo_ml)])
  
  return model

In [141]:
buid_pipeline(algo_ml=RandomForestRegressor(random_state=seed))

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  Index(['approximate_latitude', 'approximate_longitude', 'postal_code', 'size',
       'floor', 'land_size', 'energy_performance_value', 'ghg_value',
       'nb_rooms', 'nb_bedrooms', 'nb_bathrooms'...
       'has_a_garage', 'has_air_conditioning', 'last_floor', 'upper_floors'],
      dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(fill_value='Unknow',
                                                                                 strategy='constant')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['property_type', 'city',
                                                   'energy_performance_category',
                                                   'ghg_category',
                                                   'exposition'])])),
                ('regressor', RandomForestRegressor(random_state=1234))])

In [142]:
import mlflow

In [143]:
mlflow.set_experiment("Baseline-Models")

<Experiment: artifact_location='file:///content/mlruns/442745547587742590', creation_time=1669904744192, experiment_id='442745547587742590', last_update_time=1669904744192, lifecycle_stage='active', name='Baseline-Models', tags={}>

In [144]:
!ls

data-profile.html  mlruns  sample_data

In [145]:
from sklearn.model_selection import train_test_split

In [146]:
 seed = 4321

X_train, X_test, y_train, y_test = train_test_split(
     xtrain.drop('id_annonce', axis = 1),
     ytrain['price'],
     test_size = 0.4,
     random_state = seed
 )

X_val, X_test, y_val, y_test = train_test_split(
      X_test,
      y_test,
      test_size = 0.5,
      random_state = seed
 )

print(X_train.shape)

(22420, 26)

In [147]:
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error
import numpy as np


def eval_metrics (actual, pred):
  mape = mean_absolute_percentage_error(actual, pred)*100
  rmse = np.sqrt(mean_squared_error(actual, pred))

  return (mape, rmse)

In [ ]:
 mlflow.sklearn.autolog()

 with mlflow.start_run(run_name='random_forest_default'):

   model = build_pipeline(algo_ml = RandomForestRegressor(random_state=seed, n_jobs=-1))
 
   model.fit(X_train, y_train)

   train_preds = model.predict(X_train)

   train_mape, train_rmse = eval_metrics(y_train, train_preds)

   mlflow.log_metric("train_mape_experience", train_mape)

   mlflow.log_metric("train_rmse_experience", train_rmse)

   mlflow.log_metric("val_mape_experience", val_mape)

   mlflow.log_metric("val_rmse_experience", val_rmse)

   mlflow.sklearn.log_model(model, "rf_run1")

   print("MAPETD", train_mape)
   print("MAPEVD", val_mape)
   print("RMSETD", train_rmse)
   print("RMSEVD", val_rmse)

   print("Model run ID : ", mlflow.active_run().info.run_uuid)

mlflow.end_run()

In [151]:
pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.2.1.tar.gz (761 kB)
     |████████████████████████████████| 761 kB 8.1 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.1-py3-none-any.whl size=19792 sha256=b798eb9402fb7b2dd54a01b335a984fdae7c73b10cff567ddd475bc2701c45d2
  Stored in directory: /root/.cache/pip/wheels/5d/f2/70/526da675d32f17577ec47ac4c663084efe39d47c826b6c3bb1
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.1

In [152]:
from pyngrok import ngrok

# Terminate open tunnels if exist
ngrok.kill()

# Setting the authtoken (optional)
# Get your authtoken from https://dashboard.ngrok.com/auth
NGROK_AUTH_TOKEN = "2IHRohY1OxWDPw9mwc5GX33jOVd_5AFHjCaNaFY3AvyKNA15V"
ngrok.set_auth_token(NGROK_AUTH_TOKEN)

# Open an HTTPs tunnel on port 5000 for http://localhost:5000
ngrok_tunnel = ngrok.connect(addr="5000", proto="http", bind_tls=True)
print("MLflow Tracking UI:", ngrok_tunnel.public_url)

MLflow Tracking UI: https://1965-35-203-178-135.ngrok.io

In [153]:
!mlflow ui

[2022-12-01 16:08:58 +0000] [1860] [INFO] Starting gunicorn 20.1.0
[2022-12-01 16:08:58 +0000] [1860] [INFO] Listening at: http://127.0.0.1:5000 (1860)
[2022-12-01 16:08:58 +0000] [1860] [INFO] Using worker: sync
[2022-12-01 16:08:58 +0000] [1862] [INFO] Booting worker with pid: 1862
[2022-12-01 16:08:58 +0000] [1863] [INFO] Booting worker with pid: 1863
[2022-12-01 16:08:58 +0000] [1864] [INFO] Booting worker with pid: 1864
[2022-12-01 16:08:58 +0000] [1865] [INFO] Booting worker with pid: 1865
[2022-12-01 16:11:48 +0000] [1860] [INFO] Handling signal: int

Aborted!
[2022-12-01 16:11:48 +0000] [1862] [INFO] Worker exiting (pid: 1862)
[2022-12-01 16:11:48 +0000] [1863] [INFO] Worker exiting (pid: 1863)
[2022-12-01 16:11:48 +0000] [1865] [INFO] Worker exiting (pid: 1865)
[2022-12-01 16:11:48 +0000] [1864] [INFO] Worker exiting (pid: 1864)
[2022-12-01 16:11:49 +0000] [1860] [INFO] Shutting down: Master